


<div class="container">
  

    
    <h1 class="mb-5">Your Cart</h1>



  <div class="row">
    <div class="col">
<!---->
        
<div id="accordion">

    
<%x=1%>

<% @shopping_cart.uniq_cards_quantity_hash.each do |card, quantity| %>    
  <div class="card">
    <div class="card-header" id=<%="heading#{x}"%>>
        
   <div class="row">     
   <div class="col-10">     
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target=<%="#collapse#{x}"%> aria-expanded="false" aria-controls=<%="collapse#{x}"%>>
<h3><%= card.name %></h3>
        </button>
      </h5>
    </div>  
    
    <div class="col-2">
      <div class="mr-0">Quantity: 
          <%= form_for @shopping_cart do |f| %>
        <%= hidden_field_tag 'card_id', card.id%>
        <%= select_tag :quantity, options_for_select(0..card.quantity), value: quantity, onchange: 'this.form.submit();', prompt: "#{quantity}" %>
    <% end %>
</div>
      </div>
      
      
    </div>  
      
    </div>

    <div id=<%="collapse#{x}"%> class="collapse" aria-labelledby=<%="heading#{x}"%> data-parent="#accordion">
      <div class="card-body">
          <a href=<%="/cards/#{card.id}"%> ><%= image_tag card.small_pic_url %></a>
          
          
      </div>
    </div>
  </div>
  
<%x += 1%>
<% end %>  
  

  
  
  
  
</div>        
        
<!---->
    </div> 
    <div class="col-md-auto" >
 
<h2>Total: $<%= @shopping_cart.total_price %>
</h2><br>

<%= form_tag({:controller => "purchases", :action => "shipping"}, :method => "get") do %>
<%= submit_tag("CHECK OUT", :id=>"checkout-button", :class=>"btn btn-secondary", :name=>"commit")%>
<% end %>




    </div>

  </div>
</div>