<h1>Payment</h1>
<%= form_tag 'set_payment' do %>
    <%= label_tag 'Full Name' %>
    <%= text_field_tag 'full_name', nil, placeholder: 'Full Name', :required => true %>
    <%= label_tag 'Card Number' %>
    <%= text_field_tag 'card_number', nil, size: 25, placeholder: 'Bank Account Number', :required => true %><br>
    <%= label_tag 'Expiration Date' %>
    <%= text_field_tag 'expiration_date', nil, placeholder: 'MM/YY', :required => true %>
    <%= label_tag 'Security Code' %>
    <%= text_field_tag 'security_code', nil, placeholder: 'XXX', :required => true %><br>
    <%= submit_tag "Choose Shipping Method" %>
<% end %>