

<div class="container ">
    
 <div class="form-row">
    <div class="form-group col-md-9">
<h1 class="display-3">Review Purchase</h1>
    </div>
    <div class="form-group text-primary text-right col-md-3 mx-auto my-auto">
<h2>Total: $<%= @total %></h2>
    </div>
  </div>
    


<!--cards show----------------------------------------------->
<div id="accordion" class="mb-3">

    
<%x=1%>

<% @shopping_cart.uniq_cards_quantity_hash.each do |card, quantity| %>



  <div class="card">
    <div class="card-header" id=<%="heading#{x}"%>>
        
   <div class="row">     
   <div class="col-10">     
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target=<%="#collapse#{x}"%> aria-expanded="false" aria-controls=<%="collapse#{x}"%>>
<h3><%= card.name %></h3>
        </button>
      </h5>
    </div>  
    
    <div class="col-2">
        
        <h4 class="display-6">Quantity: <%= quantity %></h4>
    </div>  
    
    
    
    </div>  
      
      
      
    </div>

    <div id=<%="collapse#{x}"%> class="collapse" aria-labelledby=<%="heading#{x}"%> data-parent="#accordion">
      <div class="card-body">
          <a href=<%="/cards/#{card.id}"%> ><%= image_tag card.small_pic_url %></a>
          
          
      </div>
    </div>
  </div>
  
<%x += 1%>
<% end %>  

</div>


 <!---->
 
 
<form action="/shopping_carts/1" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
<input type="submit" name="commit" value="EDIT CART" class="btn btn-secondary" data-disable-with="EDIT CART">
</form><br>
 

<!---->

<!--cards show----------------------------------------------->


 <div class="form-row">
    <div class="form-group col-md-7">
        
<h1 class="display-4">Shipping Information</h1>

<p>First name: <%= session[:first_name] %></p>
<p>Last name: <%= session[:last_name] %></p>
<p>Address: <%= session[:address] %></p>
<p>City: <%= session[:city] %></p>
<p>State: <%= session[:state] %></p>
<p>Postal Code: <%= session[:postal_code] %></p>
<p>Email: <%= session[:email] %></p>
<p>Phone Number: <%= session[:phone_number] %></p>

<%= form_tag({:controller => "purchases", :action => "shipping"}, :method => "get") do %>
<%= submit_tag("EDIT SHIPPING", :id=>"checkout-button", :class=>"btn btn-secondary", :name=>"commit")%>
<% end %>

    </div>
    <div class="col-md-5">
        
<h1 class="display-4">Shipping Method</h1>

<p>Shipping Cost: $<%= session[:shipping_method] %></p>


<h1 class="display-4">Card Information</h1>

<p>Name on card: <%= session[:full_name] %></p>
<p>Card Number: <%= session[:card_number] %></p>
<p>Expiration Date: <%= session[:expiration_date] %></p>

<%= form_tag({:controller => "purchases", :action => "payment"}, :method => "get") do %>
<%= submit_tag("EDIT PAYMENT & SHIPPING METHOD", :id=>"review-button", :class=>"btn btn-secondary", :name=>"commit")%>  
<% end %>
<br>
<div class="">

<%= form_tag({:controller => "purchases", :action => "confirm_checkout"}, :method => "post") do %>
    <%= submit_tag("Confirm", :id=>"button", :class=>"btn btn-primary btn-lg mt-3", :name=>"commit")%>
<% end %>
</div>




    </div>
  </div>




