<h1>Review Purchase</h1>

<% if flash[:error] %>
<font color="red"><p><%= flash[:error] %></p></font>
<% end %>



<% @shopping_cart.uniq_cards_quantity_hash.each do |card, quantity| %>
    <%= image_tag card.small_pic_url %>
    <h3>Name: <%= card.name %>, Quantity: <%= quantity %></h3>
<% end %>
<a class="nav-link text-primary" href="/shopping_carts/1">EDIT CART</a>
<h1>Shipping Information</h1>
<p>First name: <%= session[:first_name] %></p>
<p>Last name: <%= session[:last_name] %></p>
<p>Address: <%= session[:address] %></p>
<p>City: <%= session[:city] %></p>
<p>State: <%= session[:state] %></p>
<p>Postal Code: <%= session[:postal_code] %></p>
<p>Email: <%= session[:email] %></p>
<p>Phone Number: <%= session[:phone_number] %></p>

<%= form_tag({:controller => "purchases", :action => "shipping"}, :method => "get") do %>
<%= submit_tag("EDIT SHIPPING", :id=>"checkout-button", :class=>"btn btn-secondary", :name=>"commit")%>
<% end %>


<h1>Shipping Method</h1>

<p>Shipping Cost: $<%= session[:shipping_method] %>    -<%= @shipping_days %></p>


<h1>Card Information</h1>
<p>Name on card: <%= session[:full_name] %></p>
<p>Card Number: <%= session[:card_number] %></p>
<p>Expiration Date: <%= session[:expiration_date] %></p>
<%= form_tag({:controller => "purchases", :action => "payment"}, :method => "get") do %>
<%= submit_tag "EDIT PAYMENT & SHIPPING METHOD"%>
<% end %>
<h1>Total</h1>
<p>$<%= @total %></p>

<%= form_tag({:controller => "purchases", :action => "confirm_checkout"}, :method => "post") do %>
    <%= submit_tag "CONFIRM" %>
<% end %>


