


<div class="container col-md-6 col-sm-6 mx-auto">

<h1>Shipping Information</h1>

<%= bootstrap_form_tag url: 'shipping' do |f| %>
  <%= f.text_field :first_name, placeholder: 'First Name'%>
  <%= f.text_field :last_name, placeholder: 'Last Name'%>
  <%= f.text_field :address, placeholder: 'Address'%>
  <%= f.text_field :city, placeholder: 'City'%>
  <%= f.text_field :state, placeholder: 'State'%>
  <%= f.text_field :postal_code, placeholder: 'Postal Code'%>
  <%= f.text_field :email, placeholder: 'Email'%>
  <%= f.text_field :phone_number, placeholder: 'Phone Number'%>
  
  
  
  <%= f.submit "Save and go to Payment"%>
<% end %>


