


<div class="container col-md-6 col-sm-6 mx-auto">

<h1>Shipping Information</h1>

<% if flash[:error] %>
  <font color="red"><p><%= flash[:error] %></p></font>
<% end %>

<%= bootstrap_form_tag url: 'shipping' do |f| %>
  <%= f.text_field :first_name, value: session[:first_name], placeholder: 'First Name'%>
  <%= f.text_field :last_name, value: session[:last_name], placeholder: 'Last Name'%>
  <%= f.text_field :address, value: session[:address], placeholder: 'Address'%>
  <%= f.text_field :city, value: session[:city], placeholder: 'City'%>
  <%= f.text_field :state, value: session[:state], placeholder: 'State'%>
  <%= f.text_field :postal_code, value: session[:postal_code], placeholder: 'Postal Code'%>
  <%= f.text_field :email, value: session[:email], placeholder: 'Email'%>
  <%= f.text_field :phone_number, value: session[:phone_number], placeholder: 'Phone Number'%>
  
  <%= f.submit "Continue to Payment"%>
<% end %>


