


<div class="container col-md-6 col-sm-6 mx-auto">

<h1>Shipping Information</h1>

<% if flash[:error] %>
  <font color="red"><p><%= flash[:error] %></p></font>
<% end %>




<%= bootstrap_form_tag url: 'shipping' do |f| %>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
  <%= f.text_field :first_name, value: session[:first_name], placeholder: 'First Name'%>
    </div>
    <div class="form-group col-md-6">
  <%= f.text_field :last_name, value: session[:last_name], placeholder: 'Last Name'%>
    </div>
  </div>
  <div class="form-group">
  <%= f.text_field :address, value: session[:address], placeholder: 'Address'%>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
  <%= f.text_field :city, value: session[:city], placeholder: 'City'%>
    </div>
    <div class="form-group col-md-4">
  <%= f.text_field :state, value: session[:state], placeholder: 'State'%>
    </div>
    <div class="form-group col-md-2">
 <%= f.text_field :postal_code, value: session[:postal_code], placeholder: 'Zip Code'%>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
  <%= f.text_field :email, value: session[:email], placeholder: 'Email'%>
    </div>
    <div class="form-group col-md-6">
  <%= f.text_field :phone_number, value: session[:phone_number], placeholder: 'Phone Number'%>
    </div>
  </div>
  <%= f.submit "Save and go to Payment"%>
</form>

<% end %>

