<p><%= @error %></p>
<%= form_tag '/customers' do %>
    <%= label_tag "Username" %>
    <%= text_field_tag 'username' %><br>
    <%= label_tag "Password" %>
    <%= password_field_tag 'password'  %><br>
    <%= label_tag "Password Confirmation" %>
    <%= password_field_tag 'password_confirmation'  %><br>
    <%= submit_tag "Create Account" %>
<% end %>