<div class="container col-md-6 col-sm-6 mx-auto">

<h1>Create Account</h1>

<% if flash[:error] %>
<font color="red"><p><%= flash[:error] %></p></font>
<% end %>

<%= bootstrap_form_tag url: '/customers' do |f| %>
  <%= f.text_field :username, placeholder: 'Username'%>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation' %>
  
  <%= f.submit "Create Account"%>
<% end %>


</div>