
<%= image_tag @card.pic_url %>
<h1>      Name: <%= @card.name %></h1>
<h2>  Set Name: <%= @card.set_name %></h2>
<h2>Set Number: <%= @card.collector_number %></h2>
<h2>     Price: $<%= @card.price %></h2>
<h2>     Stock: <%= @card.quantity %></h2>




