<%= form_tag "/cards/#{@card.id}/add_to_cart" do %>
    <%= select_tag :quantity, options_for_select(0..@card.quantity), prompt: "Select quntity" %>
    <%= submit_tag 'Add to cart' %>
    <%= submit_tag 'Check out now' %>
<% end %>
    




<div class="container">
    

  <div class="row">
    <div class="col">
      <img style="float:left" src="<%=@card.normal_pic_url%>"/>
    </div>
    <div class="col">
      
<h3 class="mb-0"><b>Name:</b> <%= @card.name %></h3><br>
<h5><b>Set Name:</b> <%= @card.set_name %></h5><br>
<h5><b>Set Number:</b> <%= @card.collector_number %></h5><br> <hr >
<h5><b>Price:</b> $<%= @card.price %></h5><br>
In-Stock: <%= @card.quantity %>


<%= form_tag "/cards/#{@card.id}/add_to_cart" do %>
    <%= select_tag :quantity, options_for_select(0..@card.quantity), prompt: "Select quntity" %>
    <%= submit_tag("Add to cart", :id=>"button", :class=>"btn btn-secondary", :name=>"commit") %>
  <%end%>

    </div>
  </div>




</div>
