
<%= image_tag @card.normal_pic_url %>
<h1>      Name: <%= @card.name %></h1>
<h2>  Set Name: <%= @card.set_name %></h2>
<h2>Set Number: <%= @card.collector_number %></h2>
<h2>     Price: $<%= @card.price %></h2>
<h2>     Stock: <%= @card.quantity %></h2>
<%= form_tag "/cards/#{@card.id}/add_to_cart" do %>
    <%= submit_tag 'Add To Cart' %>
<% end %>



