<%= form_for @customer do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>
    <%= f.label :password %>
    <%= f.text_field :password %><br>
    <%= f.submit "Log In" %><br>
    <%= link_to '<button type="button">Create Account</button>'.html_safe, new_customer_path %>
<% end %>