<!DOCTYPE html>
<html>
  <head>
    <title>Magic Mountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <div class="container">
  <a class="navbar-brand" href="/">Magic Mountain</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
            <% if @customer %>
      <li class="nav-item">
        <a class="nav-link disabled text-primary " href="#" tabindex="-1" aria-disabled="true"><%= @customer.username%></a>
      </li>
      <% end %>
      
      
      <li class="nav-item active">
        <% if @customer %>
 
        <%= bootstrap_form_tag url: '/store/logout' do |f| %>

          <%= f.submit "logout" %>
        <% end %>

        <% else %>
          <li class="nav-item ">
                    
        <form action="/store/login" class="form-inline my-2 my-lg-0" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
          <input type="submit"  class="btn btn-secondary" name="commit" value="Login" data-disable-with="Login">
        </form> 
          </li>
          
 

        
        
    
        <% end %>
      </li>
      
      
      
      
    </ul>

    <ul class="nav navbar-nav navbar-right navbar-dark bg-dark">
      <li>
        <% if @customer %>
        <a class="nav-link text-primary" href="/shopping_carts/1">Check Cart</a>
     
        <% end %>
      </li>
      
      <li class="nav-item">
        <% if @customer %>
        <span class="badge badge-light"><%= @customer.shopping_cart.cards.count%></span>
        <% end %>
      </li>
  
      
      
      
    </ul>
  </div>
  </div>
</nav>








    <%= yield %>
    
  </body>
</html>
